<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.baseAndroid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <service
            android:name="com.novoda.merlin.MerlinService"
            android:exported="false" />

        <activity
            android:name="com.me.baseAndroid.cropper.PhotoCropperActivity"
            android:theme="@style/ToolBarTheme" />
    </application>
</manifest>